<!-- See structure.html for the template names used here and their position in the layout. -->
{{define "title"}}Project Atomic{{end}}

{{define "body"}}
  <section id="banner">
    Deploy and Manage Your Containers<br>
    in the Next-Generation Container OS
  </section>

<article>
<section class="boxes">

<section>
  <h2>Atomic Host</h2>
  <p>Atomic Host <i>(AH)</i> is a container-based operating system that allows for secure updates and rollbacks. It provides immutable infrastructure for deploying to hundreds or thousands of servers in your private or public cloud. Available in <strong>Fedora Atomic Host,</strong> <strong>CentOS Atomic Host</strong>, and <strong>Red Hat Atomic Host</strong> editions depending on your platform and support needs.</p>
  <p>To balance the need between long-term stability and new features, we are providing different releases of Atomic Host for you to choose from.</p>
  <p><a href="/docs"><svg class="icon"><use href="/public/svg-sprites.svg#graduation-cap" /></svg>Learn More</a><br>
  <a href="https://getfedora.org/atomic/download/"><svg><use href="/public/svg-sprites.svg#download" /></svg>Download Fedora Atomic Host</a></p>
</section>

<section>
  <h2>Atomic Workstation</h2>
  <p>Fedora Atomic Workstation (FAW) is the desktop version of Atomic Host - if you need a container-based operating system <i>(OS)</i> that will give you atomic rollbacks, you're in the right place. Immutable infrastructure for your desktop experience - if you want to know, what all this means, head to the <a href="/docs">documentation</a>. Fedora Atomic Workstation is still heavily in development with only few external users.</p>
  <p>This project is actively maintained and is ready for use by sophisticated and interested users, but not ready for widespread promotion.</p>
  <p><a href="/docs"><svg class="icon"><use href="/public/svg-sprites.svg#graduation-cap" /></svg>Learn More</a><br>
  <a href="https://download.fedoraproject.org/pub/fedora/linux/releases/27/WorkstationOstree/x86_64/iso/"><svg><use href="/public/svg-sprites.svg#download" /></svg>Download Fedora Atomic Workstation</a></p>
</section>

<section>
  <h2>Container Tools</h2>
  <p>Tools from our team help you create, deploy, manage, and secure containers.</p>
  <p><a href='https://github.com/projectatomic/buildah'>Build containers with Buildah</a></p>
  <p><a href='http://kompose.io/'>Compose applications with Kompose</a></p>
  <p><a href='https://github.com/projectatomic/skopeo'>Pull and move images with Skopeo</a></p>
  <p><a href='https://github.com/kubernetes-incubator/cri-o'>Deploy using Kubernetes and CRI-O</a></p>
  <p><a href='http://cockpit-project.org/'>Manage container hosts with Cockpit</a></p>
  <p><a href='https://github.com/projectatomic/atomic'>Install, run, and scan with Atomic CLI</a></p>
  <p><a href='https://github.com/projectatomic/bubblewrap'>Sandbox apps with Bubblewrap</a></p>
</section>

<section>
  <h2>Container Registries</h2>
  <p>You can get your containerized applications from the
  <b>CentOS Container Pipeline</b> and the <b>Fedora Layered Image Build Service</b></p>
  <p>Trusted container content from the projects you already trust.</p>
  <p><a href='https://fedoraproject.org/wiki/Atomic/FLIBS_Catalog'>Learn more about Fedora Layered Images</a></p>
  <p><a href='https://wiki.centos.org/ContainerPipeline'>Learn more about CentOS Container Pipeline</a></p>
</section>
</section>
</article>
{{end}}
