{{define "structure"}}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes, minimal-ui">
  <meta name="theme-color" content="#1b202a" />
  <meta name="description" content="{{template `title`}}" />


  <link rel="shortcut icon" href="/public/images/favicon.ico">
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Overpass|Overpass+Mono'>
  <link rel="stylesheet" href="/public/atomic-style.css">

  <title>{{template "title"}}</title>
</head>

<body>
  <div class="wrapper">
  <header>
    <div id="atomic-logo">
      <a href="/">
        <img alt="Project Atomic logo" src="/public/images/atomic.svg" width="200" height="200">
      </a>
    </div>
    <nav>
        <a href="/atomic-host"><svg class="icon"><use href="/public/svg-sprites.svg#server" /></svg>Atomic Host</a>
        <a href="/atomic-ws"><svg class="icon"><use href="/public/svg-sprites.svg#desktop" /></svg>Atomic Workstation</a>
        <a href="/tools"><svg class="icon"><use href="/public/svg-sprites.svg#wrench" /></svg>Tools</a>
        <hr>
        <a href="/download"><svg class="icon"><use href="/public/svg-sprites.svg#download" /></svg>Download</a>
        <a href="/docs"><svg class="icon"><use href="/public/svg-sprites.svg#graduation-cap" /></svg>Documentation</a>
        <hr>
        <a href="/blog"><svg class="icon"><use href="/public/svg-sprites.svg#newspaper" /></svg>Blog</a>
        <a href="/community"><svg class="icon"><use href="/public/svg-sprites.svg#users" /></svg>Community</a>
        <a href="/contribute"><svg class="icon"><use href="/public/svg-sprites.svg#cogs" /></svg>Contribute</a>
        <a href="/talks"><svg class="icon"><use href="/public/svg-sprites.svg#comment-alt" /></svg>Talks</a>
    </nav>
  </header>

  <main>
  {{template "body" .}}
  </main>

  <footer>
    <nav>
      <a href="https://twitter.com/projectatomic"><svg class="icon"><use href="/public/svg-sprites.svg#twitter" /></svg>Twitter</a>
      <a href="irc://irc.freenode.org:6667/#atomic"><svg class="icon"><use href="/public/svg-sprites.svg#comments" /></svg>IRC</a>
      <a href="https://github.com/projectatomic/atomic-site"><svg class="icon"><use href="/public/svg-sprites.svg#github" /></svg>Github</a>
      <a href="http://www.projectatomic.io/public/feed.xml"><svg class="icon"><use href="/public/svg-sprites.svg#rss" /></svg>RSS</a>
    </nav>
    <p id="copywrite">
      &copy; 2014&ndash;2018 Project Atomic.<br>Sponsored by Red Hat, Inc.
    </p>
  </footer>
</div>

</body>
</html>
{{end}}
